.AuthForm {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.Page{
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.register{
  color:midnightblue;
}

label{
  color:midnightblue;
}

.title{
  color: red;
  position:absolute;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  font-family: "Courier New", monospace;
  font-size: 60px;
}